@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

html,
body {
    scroll-behavior: smooth;
    font-family: "Inter", system-ui
}

section,
.section {
    margin-top: 160px;
}


@media (max-width:768px) {

    section,
    .section {
        margin-top: 80px;
    }
}