@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Tajawal", sans-serif;
    background-image: url("../img/heroSection.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}