@tailwind base;
@tailwind components;
@tailwind utilities;




/* استيراد خط Tajawal */

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Tajawal';
    src: url('/fonts/Tajawal-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


html,
body {
    scroll-behavior: smooth;
    font-family: 'Tajawal', sans-serif;
}

section,
.section {
    margin-top: 160px;
}


@media (max-width:768px) {

    section,
    .section {
        margin-top: 80px;
    }
}

.boxShadow {
    box-shadow: 0px 4px 10px 0px rgba(168, 149, 128, 0.2);
}